/* reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* các yêu cầu thi thiết lập 1 trang web */
/* vị trí , kích thước (chiều cao , chiều rộng)
, màu sắc , kiểu dáng (chữ ,hình)  */

/* common ( dung` chung) */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}

.magtop8 {
    margin-top: 8px !important;
}
.magtop16 {
    margin-top: 16px !important;
}

html {
    /* font chữ */
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* main */
#main {
}
#header {
    height: 46px;
    background-color: #000;
    /* thanh header bam dinh khi lan chuot */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* khi cuộn xuống giữ nguyên thanh header */
    z-index: 1;
    /* mobile */
    /* khi cac gtri con vuot qua cha thi se bi an di */
}

#nav {
    display: inline-block;
}
/* xoa dau cham o phan more */
.subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    /* sắp xếp theo chiều ngang */

    position: relative;
}
/* lay vao the con truc tiep  */
/* the a cap 1 */
#nav > li > a {
    color: #fff;
    /* viet hoa cac phan a */
    text-transform: uppercase;
}

/* css vào tất cả thẻ a là con của thẻ li và là con của thẻ nav */
#nav li a {
    /* bỏ gạch chân */
    text-decoration: none;
    /* căn giữa  */
    line-height: 46px;
    /* căn khoảng cách giữa các a */
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a {
    /* di chuột vào chuyển màu */
    color: #000;
    background-color: #ccc;
    /* cho màu full thẻ a */
    /* display: inline-block;
  background-color: #ccc; */
}

/* di chuot vao more se hien len */
#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
}
/* hien mau khi di chuot vao cac chu duoi dong more */
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

/* thay doi mau chu */
#nav .subnav a {
    color: #000;
}
/* thay doi kich thuoc mui ten  */
#nav .nav-arrow-down {
    font-size: 16px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 16px;
}
#header .mobile-menu-btn:hover,
#header .search-btn:hover {
    /* di chuot vao icon thi con tro chuot hanh hinh ban tay */
    cursor: pointer;
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#silder {
    position: relative;
    margin-top: 46px;
    /* set up 50% chieu cao */
    padding-top: 50%;
    /* set up ảnh */
    background: url("/the_band/assets/img/slider/slider1.jpg") top center /
        cover no-repeat;
}
/* căn chữ giữa */
#silder .text-content {
    position: absolute;
    bottom: 50px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#silder .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#silder .text-description {
    font-size: 15px;
    margin-top: 20px;
}

#content {
}

#content .content-section {
    width: 800px;
    /*  */
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    /* lam tren ipad */
    padding-left: 16px;
    padding-right: 16px;
}

#content .content-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    /* khoang cach cac chu */
    letter-spacing: 4px;
}

#content .content-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    /* chu nghieng */
    font-style: italic;
    /* lam` mo` chu~ (0-1) */
    opacity: 0.6;
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    /* can deu 2 ben */
    text-align: justify;
    /* khoang cach cac dong chu~ và các chữ*/
    line-height: 1.6;
}

#content .members-list {
    margin-top: 48px;
}

#content .member-item {
    /* trên cùng 1 hàng */
    float: left;
    width: 33.33%;
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    /* bo 4 góc ảnh */
    border-radius: 4px;
}

/* tour section */
.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li {
    font-size: 15px;
    padding: 11px 16px;
    /* tao duong gach ngang */
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantyti {
    color: #fff;
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
}
/* .tour-section .content-section {
    color: #fff;
} */

/* places */
.places-list {
    margin-top: 16px;
    margin-left: -8px;
    margin-right: -8px;
}
.place-item {
    float: left;
    width: 33.33%;
    padding: 0 8px;
}
.place-img {
    width: 100%;
    display: block;
}
/* lam mo anh */
.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 700;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}
.place-desc {
    margin-top: 15px;
    line-height: 1.6;
}
.place-buy-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
}
.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}

/* giao dien buy tickets */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);

    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open {
    display: flex;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFaceIn ease 0.5s;
}
.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-bag {
    margin-right: 16px;
}
.modal-close:hover {
    opacity: 1;
}
.modal-close {
    opacity: 0.8;
    right: 0;
    position: absolute;
    top: 0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
#buy-ticket:hover {
    opacity: 0.9;
}
#buy-ticket {
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 25px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
.modal-footer {
    padding: 16px;
    text-align: right;
}
.modal-footer a {
    color: blue;
}
.contact-content {
    margin-top: 48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.4;
}
.contact-info p i {
    color: #000;
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
}
.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact-form .form-submit-btn {
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
    cursor: pointer;
}
.contact-form .form-submit-btn:hover {
    color: #000;
    background-color: #ccc;
}
.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list {
    font-size: 20px;
}
#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .socials-list a :hover {
    color: rgba(0, 0, 0, 0.4);
}
#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a {
    color: rgba(0, 0, 0, 0.9);
}
#footer .copyright a:hover {
    color: rgba(0, 0, 0, 0.4);
}
@keyframes modalFaceIn {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}
